<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Opciones
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>Exporta tus partidos</ion-card-subtitle>
            <ion-card-title>Hacer una copia de tu informacion</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Puedes descargar a tu celular una copia de tus registros.</p>
        </ion-card-content>
    </ion-card>
</ion-content>