<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Acerca de
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
    <ion-card-header>
        <ion-card-subtitle>Autor</ion-card-subtitle>
        <ion-card-title>Alexander Castro Romero</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>Contacto: alexander.castro01@uptc.edu.co</p>
    </ion-card-content>
</ion-card>
</ion-content>