<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Partidos {{matches.length}} de {{totalMatches}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label position="stacked">Fecha inicio</ion-label>
        <ion-datetime displayFormat="DD MMM YY" [(ngModel)]="startDate"
                      placeholder="Seleccione la fecha inicio" min={{minDate}} max={{endDate}}
                      (ngModelChange)="updateMatches()"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Fecha fin</ion-label>
        <ion-datetime displayFormat="DD MMM YY" [(ngModel)]="endDate"
                      placeholder="Seleccione la fecha fin" min={{startDate}} max={{maxDate}}
                      (ngModelChange)="updateMatches()"></ion-datetime>
    </ion-item>
    <ion-card color="warning" *ngIf="matches.length === 0">
        <ion-card-header>
            <ion-card-title>No se han encontrado partidos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item color="warning" lines="none">
                <ion-icon name="alert" size="large"></ion-icon>
                <ion-label text-wrap>
                    Desde tu perfil puedes crear partidos.
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-item-sliding *ngFor="let match of matches" >
            <ion-item-options side="end">
                <ion-item-option (click)="delete(match)" style="text-transform: none;" color="danger">
                    <ion-icon name="trash"></ion-icon>Borrar</ion-item-option>
            </ion-item-options>
            <ion-item>
                <ion-card style="width: 100%; margin: 0;">
                    <ion-card-header>
                        <ion-card-subtitle>{{match.date | date:'dd-MM-y'}}</ion-card-subtitle>
                        <ion-card-title>{{designation[match.designation]}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-label>{{match.localTeam | titlecase }} vs {{match.visitTeam | titlecase }}
                            ({{category[match.category]}} - {{division[match.division]}})</ion-label>
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" fill="outline" (click)="export()">Exportar</ion-button>
    </ion-toolbar>
</ion-footer>