<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Empieza a usar el programa</ion-card-subtitle>
        <ion-card-title>Bienvenido a la bitacora digital para arbitros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Puedes registrar tus partidos con el boton que esta en la parte inferior derecha de la pantalla.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Puedes ver los detalles en el menu Partidos</ion-card-subtitle>
            <ion-card-title>
                <ion-item lines="none">
                    <ion-label>
                        Partidos registrados
                    </ion-label>
                    <ion-badge color="success" style="font-size: 20px">
                        {{matchCount}}
                    </ion-badge>
                </ion-item>

            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="showAddMatchDialog()">
            <ion-icon name="add-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>